// Colors
$cta-btn-color: #158800 !default;
$link-color: #189c00 !default;
$primary-font-color: #000 !default;
$gray-font-color: #d8d8d8 !default;
$light-gray-color: #e8e8e8 !default;
$gray-border-color: #cccccc !default;
$gray-bg-color: #f8f8f8 !default;
$gray-bg-dating-color: #f6f5f7 !default;
$dark-bg-color: #221f1f !default;
$another-gray-text-color: #f5f5f5 !default;

$header-bg-color: #000000 !default;
$header-text-color: #9b9b9b !default;
$header-border-color: #e8392e !default;
$header-link-bk-color: #484443 !default;
$form-bg-color: #ffffff !default;

$body-bg-color: #121011 !default;

$body-text-color: #FFFFFF !default;
$body-gray-text-color: #cccccc !default;
$sub-title-color: #f8f8f8 !default;
$gray-sub-title: #908f8f !default;
$feature-card-bg-color: #141313 !default;
$dark-input-bg-color: #1b1b1b !default;

$card-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2) !default;

// Fonts
$font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$secondary-font: HelveticaNeue, serif !default;

//Margins
$margin-section-top: 120px !default;
$margin-section-top-mobile: 50px !default;

$button-border-radius: 20px !default;

// Breakpoints
$breakpoints: (
        'xs': 360px,
        's': 480px,
        'ms': 800px,
        'm': 980px,
        'ml': 1170px,
        'l': 1280px,
        'xl': 1600px,
) !default;

// Transitions

$primary-transition: all 250ms ease-in-out !default;

// Layout
$max-content-width: 1220px !default;

//animations
$main-transition: all .3s ease-in-out;
