@import "_variables";


%cta-btn {
  width: 160px;
  height: 44px;
  border-radius: 22px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: $primary-transition;
  background: $cta-btn-color;
  user-select: none;
  color: $body-text-color;
  cursor: pointer;

  &:hover {
    background: lighten($cta-btn-color, 10%);
    cursor: pointer;
  }

  &:active {
    background: darken($cta-btn-color, 2%);
  }
}

.cta-btn {
  @extend %cta-btn;
}
